
/* Table of Contents */

/* -----------------------------------------------------*/

/* >>> 1. RESETS  <<<<<<<<<<<<< */

/* >>> 2. CSS VARIABLES  <<<<<< */

/* >>> 3. FONTS  <<<<<<<<<<<<<< */

/* >>> 4. NAVIGATION <<<<<<<<<< */

/* >>> 5. COMPONENTS <<<<<<<<<< */

/* >>> 6. VARIA <<<<<<<<<<<<<<< */

/* -----------------------------------------------------*/

/* >>> 1. RESETS  <<<<<<<<<<<<< */
:root{
  padding: 0;
  margin: 0;
  font-size: 62.5%;
  box-sizing: border-box;

/* >>> 2. CSS VARIABLES <<<<<<< */
--color-black: #0f0000;
--color-grey: #BABABA;
--color-white: #fffffd;
--color-green: #BAF584;
--color-purple: rebbeccapurple;

/* >>> 3. FONTS  <<<<<<<<<<<<<< */
--font-heading: 'Arima', serif;
--font-handwritten: 'Caveat' , cursive;
--font-sloppy: "HandwritingPlain", cursive;
--font-regular: 'Roboto Flex', sans-serif;
}

@font-face{
  font-family: var(--font-heading);
  src: url('./fonts/Arima/Arima-VariableFont_wght.ttf') format('truetype');
}

@font-face{
  font-family: var(--font-handwritten);
  src: url('./fonts/Caveat/Caveat-VariableFont_wght.ttf') format('truetype');
}

@font-face{
  font-family: var(--font-sloppy);
  src: url('./fonts/Handwriting/HandwritingPlain.ttf') format('truetype');
}

@font-face{
  font-family: var(--font-regular);
  src: url('./fonts/Roboto_Flex/RobotoFlex-VariableFont_GRAD\,XTRA\,YOPQ\,YTAS\,YTDE\,YTFI\,YTLC\,YTUC\,opsz\,slnt\,wdth\,wght.ttf') format('truetype');
}


/* >>> 4. NAVIGATION <<<<<<<<<< */


/* >>> 5. COMPONENTS <<<<<<<<<< */

/* >>> 6. VARIA <<<<<<<<<<<<<<< */