
body{
  background-image: url('../images/textures/Wall_texture_6.jpg');
}


.note, .polaroid{
  background-color: var(--color-white);
  padding: 1rem 1rem 4rem 1rem;
  width: fit-content;
  height: 40vh;
  box-shadow:  0 0.5rem 1rem var(--color-black);
}

#portrait{
  width: auto;
  height: 40vh;
}

#signature{
  width: 20%;
  height: auto;
  position: relative;
  top: -12rem; left: 13rem;
}

figcaption{
  font-size: 2rem;
  font-family: var(--font-handwritten-sloppy);
  padding-right: 1rem;
}

button{
  border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: rgba(220, 0, 0, 1);
    transition: all 0.3s ease-in-out;
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
                inset -2px -2px 3px rgba(0, 0, 0, .6);;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

