
body{
  background-image: url('../images/textures/Wall_texture_6.jpg');
}

main{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-template-rows: 1fr;
}

#note, #polaroid{
  background-color: var(--color-white);
  padding: 1rem 1rem 4rem 1rem;
  width: fit-content;
  height: 40vh;
  box-shadow:  0 0.5rem 1rem var(--color-black);
}

#portrait{
  width: auto;
  height: 40vh;
}

#signature{
  width: 50%;
  height: auto;
  position: relative;
  top: -12rem; left: 13rem;
}

figcaption{
  font-size: 2rem;
  font-family: var(--font-regular);
  padding-right: 1rem;
}

button{
  cursor: pointer;
  border: 0.1rem solid var(--color-black);
  line-height: 2.5;
  padding: 0 2rem;
  font-size: 3rem;
  font-family: var(--font-sloppy);
  text-align: center;
  color: var(--color-white);
  text-shadow: 1px 1px 1px #000;
  border-radius: 0.5rem;
  background-color:var(--color-green);
  box-shadow: inset 0.5rem 0.5rem 0.5rem  var(--color-white),
              inset -0.5rem  -0.5rem -0.5rem var(--color-black);
  transition: all 0.3s ease-in-out;
}

