
@import url('https://fonts.googleapis.com/css2?family=Beth+Ellen&display=swap');

:root{
  padding: 0;
  margin: 0;
  font-size: 62.5%;

/* >>> 2. CSS VARIABLES <<<<<<< */
--black: #000000;
--color-grey: #BABABA;
--color-white: #FFFFFF;
--color-green: #BAF584;
--color-purple: rebbeccapurple;

--font-regular: 'Arima', serif;
--font-handwritten: 'Beth Ellen' , serif;
}

@font-face {
  font-family: var(--font-regular);
  src: url('../../fonts/Arima/Arima-VariableFont_wght.ttf');
}

main {
  padding: 5rem;
  font-family: var(--font-regular);
}

details{
  padding: 2rem;
  background-color: var(--color-green);
}

summary {
  font-size: 1.5rem;
  font-weight: bold;
}
ol {
  font-size: 1.5rem;
  font-weight: bold;
}
aside {
  width: 33%;
  padding: 2rem 3.5rem;
  margin-left: 2rem;
  float: right;
  box-shadow: inset 5em 1em var(--color-green);
  border-radius: 50% 20% / 10% 40%;
}

aside p {
  font-family: var(--font-regular);
  font-size: 1.4rem;
  font-weight: 300;
  font-style: italic;
  line-height: 1.2;
}

#col {
  padding: 3rem 3.5rem;
  column-count: auto;
  column-width: 40rem;
  column-gap: 5rem;
  column-fill: auto;
  column-rule: 0.7rem double var(--color-green);
}

section > p::first-letter {
  -webkit-initial-letter: 4.0;
  initial-letter: 4.0;
}

#dates {
  font-size: 1.5rem;
  font-weight: bold;
}
h1, h2, h3, h4, h5, h6 {
  font: small-caps bold 2rem  var(--font-handwritten);
}

h2 {
  column-span: all;
  font-size: 3rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.2rem;
}

p {
  font-size: 1.7rem;
}
