ol {
  counter-reset: listCounter;
}

li {
  counter-increment: listCounter;
}

ol li::marker {
  color: var(--color-green);
  font-weight: lighter;
  font-size: 3em;
}

li::marker {
  content: counters(listCounter, '.');
}

li::before {
  content: counter(listCounter, '.');
}
